@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
body {
    margin: 0;
    font-family: 'M PLUS 1p';
    background-color: #221f1f;
}
#header {
    background-color: #c4c4c4;
    text-align: center;
    height: 50;
    width: 100%;
    padding: 10;
}
#header h3 {
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 35;
    width: fit-content;
    justify-content: center;
}
#backbutton {
    background-color: #f4742b;
    width: 80;
    height: 40;
    margin-top: 5;
    margin-left: 5;
    cursor: pointer;
}
#backbutton h3 {
    position: relative;
    top: 5;
    
}
#gamesgrid {
    width: calc(100% - 50px);
    height: fit-content;
    background-color: #221f1f;
    display: grid;
    padding: 25px;
    gap: 25px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-auto-rows: 260px;
}
.gamecard {
    background-color: rgb(63, 144, 236);
    background-image: url(./TemperaryGameCard.png);
}
.gamecard:hover .gamename {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px 30px;
}

.gamename {
    text-align: center;
    padding: 20px 20px;
    font-weight: 1000;
    font-size: large;
    background-color: rgba(255, 255, 255, 0.6);
}