@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap'); /* --> Wouldn't this only load while connected to the internet? */

body {
  background-color: #221f1f;
  margin: 15px;
  width: 100%;
  height: 100%;
  -ms-overflow-style: none;
  /* Hide scrollbar Internet Explorer 10+ */
  scrollbar-width: none;
  /* Hide scrollbar Firefox */
  overflow: hidden;
  font-family: 'M PLUS 1p', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar Chrome */
}

#sidebar {
  background-color: #edebc9;
  width: 50px;
  height: calc(100% - 45px);
  padding: 8px;
  overflow: hidden;
}

.sideicon {
  background-color: #ff6a16;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 12px;

}

img.sideicon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.sideicon:hover {
  border-radius: 25%;
}

#menu {
  background-color: inherit;
  width: calc(100% - 112px);
  height: calc(100% - 30px);
  margin: 0px;
  margin-left: 12px;
  vertical-align: top;
  padding: 0px;
}

#menu div {
  padding: 0;
}

#menu div div {
  width: 100%;
  height: 80%;
}

#menu div h4 {
  margin: 0px;
  padding: 0px;
  padding-top: 6px;
  padding-left: 6px;
}

#gamelibrary {
  background-color: #ffffff;
  width: 100%;
  height: 25%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

#timeBlock {
  background-color: #ffffff;
  width: 100%;
  height: 15%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 5px;
}

#settings {
  background-color: #c4c4c4;
  width: 48%;
  height: 45%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

#friends {
  background-color: #c4c4c4;
  width: 48%;
  height: 45%;
  margin-left: 10px;
  padding: 0px;
  display: inline-block;
}