@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');
body {margin: 0; padding: 0; font-family: 'M PLUS 1p';
    background-color: #221f1f;
}

.sidebar {grid-area: sidebar;}
.library {grid-area: library;}
.settings {grid-area: settings;}
.friends {grid-area: friends;}
.mainmenu {
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    display: grid;
    grid-template-areas: 
    'sidebar library library'
    'sidebar settings friends';
    grid-template-columns: 90px;
    gap: 25px;
    padding: 25px;
    margin: 0;
}
.menuitem {
    background-color: rgba(255, 255, 255, 0.5);
}

.eshop {grid-area: button1;}
.item2 {grid-area: button2;}
.item3 {grid-area: button3;}
.item4 {grid-area: button4;}
.sidebar {
    background-color: #edebcb;
    display: grid;
    grid-template-areas: 
    'button1'
    'button2'
    'button3'
    'button4';
    grid-auto-rows: 70px;
    padding: 10px;
    gap: 10px;
}
.sidebaritem {
    background-color: #f4742b;
    border-radius: 50%;
}
.sidebaritem img {
  width: 100%;
}
.sidebaritem:hover {
    border-radius: 30%;
}

.library, .settings, .friends {
    background-color: #c4c4c4;
    padding-top: 20px;
    text-align: center; 
    font-weight: 650;
    font-size: 20;
}

.library {background-color: #ffffff;}